... אנא המתינו ...
<!--<h1>שימושון</h1>-->
<!--<h2>מספרי טלפון חשובים:</h2>-->
<!--<ul>-->
<!--  <li>-->
<!--    המחלקה הווטרינרית העירונית: 073-2756175-->
<!--    שעות פעילות:-->
<!--    א',ב',ד',ה' – 8:00- 15:30-->
<!--    ג' – 8:00-13:00 , 15:30- 18:00-->
<!--    כתובת: רח' הבאבא סאלי 1 בדימונה קרוב לבית האבות ולכניסה הדרומית לעיר.-->
<!--  </li>-->
<!--</ul>-->

<!--<h2>וטרינרים</h2>-->
<!--<h3>בדימונה</h3>-->
<!--<ul>-->
<!--  <li>-->
<!--    בית החולים הווטרינרי – 08-6573792. שעות פעילות המרפאה:-->
<!--    ימי ראשון, שלישי, חמישי ושישי- 9:00 עד 11:00-->
<!--    ימי ראשון, שלישי וחמישי- 16:30 עד 18:30-->
<!--    ד"ר יאנה – 054-7953730-->
<!--  </li>-->
<!--</ul>-->
<!--<h3>בבאר שבע</h3>-->
<!--<ul>-->
<!--  <li>-->
<!--    מרפאה וטרינרית ברנע – משעול נירית 2 שכ' ה' לדוגמא באר שבע. 08-6421848 למקרה חרום: 03-6106666 מנוי 1391 או 03-7561474-->
<!--  </li>-->
<!--  <li>-->
<!--    ד"ר סבינה הובר – חנה סנש 16, באר שבע. 050-7668189-->
<!--  </li>-->
<!--  <li>-->
<!--    ד"ר שפירא סיגל – המרד 13 באר שבע. 052-5585949-->
<!--  </li>-->
<!--</ul>-->
<!--<h3>במיתר</h3>-->
<!--<ul>-->
<!--  <li>-->
<!--    מרפאה וטרינרית ד"ר נאוה אורן, יתיר 71.-->
<!--    08-651-3614 או 052-234-6418.-->
<!--  </li>-->
<!--</ul>-->
<!--<h3>בעומר</h3>-->
<!--<ul>-->
<!--  <li>-->
<!--    ד"ר אלי – בית החולים הוטרינרי – 050-7738780.-->
<!--  </li>-->
<!--</ul>-->

<!--<p>-->
<!--  מחירון וטרינרים – מחירי טיפולים לבעלי חיים-->
<!--  http://www.d.co.il/priceList-14670/–-->
<!--</p>-->


<!--<h2>מזון וציוד לבעלי חיים בדימונה</h2>-->
<!--<ul>-->
<!--  <li>-->
<!--    יורם – "החי והצומח" דימונה. 050-2222590-->
<!--  </li>-->
<!--  <li>-->
<!--    ספידוג – משלוחים עד הבית 08-6409112-->
<!--  </li>-->
<!--  <li>-->
<!--    אנימל סנטר – משלוחים עד הבית 08-8586575-->
<!--  </li>-->
<!--</ul>-->
