<div class="container" style="margin: 55px auto;">
  <div class="row">

    <div class="col-md-2">
      <a href="" [routerLink]="'/'">
        <img class="logo-image" src="assets/logo.png"
             alt="דימונה אוהבת חיות"/>
      </a>
      <p class="lead">מתנדבים למען בעלי החיים; למען דימונה.</p>
      <div class="fb-like" data-href="http://dimonalovesanimals.org/&#x5e9;&#x5d9;&#x5de;&#x5d5;&#x5e9;&#x5d5;&#x5df;" data-width="" data-layout="box_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
    </div>

    <div class="col-md-10">
      <h1>שימושון</h1>
      <hr>

      <section>
        <h2>מספרי טלפון חשובים:</h2>
        <ul>
          <li>
            המחלקה הווטרינרית העירונית: <a href="tel:073-2756175">073-2756175</a><br>
            שעות פעילות:<br>
            א',ב',ד',ה' – 8:00- 15:30<br>
            ג' – 8:00-13:00 , 15:30- 18:00<br>
            <a href="https://www.google.com/maps/place/Baba+Sali+St+1,+Dimona/data=!4m2!3m1!1s0x15024610dcb1e3bb:0x82e7b70f1cfedbcc?sa=X&ved=2ahUKEwiD0oDijoPiAhXSoXEKHVBzC7MQ8gEwAHoECAoQAQ">
              כתובת: רח' הבאבא סאלי 1 בדימונה</a> -
            קרוב לבית האבות ולכניסה הדרומית לעיר.<br><br>
            <span class="text-muted">
              <a href="https://wa.me/?text=המחלקה הווטרינרית העירונית 073-2756175 שעות פעילות א',ב',ד',ה' – 8:00- 15:30 ג' – 8:00-13:00 , 15:30- 18:00 כתובת: רח' הבאבא סאלי 1 בדימונה קרוב לבית האבות ולכניסה הדרומית לעיר."><i class="fab fa-whatsapp"></i> שליחת הפרטים בוואטסאפ</a>
            </span>
          </li>
        </ul>
      </section>

      <section>
        <h2>וטרינרים</h2>
        <h3>בדימונה</h3>
        <ul>
          <li>
            בית החולים הווטרינרי – <a href="tel:08-6573792">08-6573792</a>. שעות פעילות המרפאה:<br>
            ימי ראשון, שלישי, חמישי ושישי- 9:00 עד 11:00<br>
            ימי ראשון, שלישי וחמישי- 16:30 עד 18:30<br>
          </li>
          <li>
            ד"ר יאנה –
            <a href="tel:054-7953730">054-7953730</a>
          </li>
        </ul>
        <h3>בבאר שבע</h3>
        <ul>
          <li>
            מרפאה וטרינרית ברנע – משעול נירית 2 שכ' ה' לדוגמא באר שבע.
            <a href="tel:08-6421848">08-6421848</a><br>
            למקרה חרום:
            <a href="tel:03-6106666">03-6106666</a>
            מנוי 1391 או
            <a href="tel:03-7561474">03-7561474</a>
          </li>
          <li>
            ד"ר סבינה הובר – חנה סנש 16, באר שבע.
            <a href="tel:050-7668189">050-7668189</a>
          </li>
          <li>
            ד"ר שפירא סיגל – המרד 13 באר שבע.
            <a href="tel:052-5585949">052-5585949</a>
          </li>
        </ul>
        <h3>במיתר</h3>
        <ul>
          <li>
            מרפאה וטרינרית ד"ר נאוה אורן, יתיר 71.<br>
            <a href="tel:08-651-3614">08-651-3614</a>
            או
            <a href="tel:052-234-6418">052-234-6418</a>.
          </li>
        </ul>
        <h3>בעומר</h3>
        <ul>
          <li>
            ד"ר אלי – בית החולים הוטרינרי –
            <a href="tel:050-7738780">050-7738780</a>.
          </li>
        </ul>

        <hr>

        <p>
          <i>
            <a href="http://www.d.co.il/priceList-14670/–">
              מחירון וטרינרים – מחירי טיפולים לבעלי חיים
              http://www.d.co.il/priceList-14670/–
            </a>
          </i>
        </p>

        <hr>

      </section>

      <section>
        <h2>מזון וציוד לבעלי חיים בדימונה</h2>
        <ul class="list-unstyled">
          <li>
            יורם – "החי והצומח" דימונה.
            <a href="tel:050-2222590">050-2222590</a>
          </li>
          <li>
            ספידוג – משלוחים עד הבית
            <a href="tel:08-6409112">08-6409112</a>
          </li>
          <li>
            אנימל סנטר – משלוחים עד הבית
            <a href="tel:08-8586575">08-8586575</a>
          </li>
        </ul>
      </section>

    </div>

  </div>

</div>
