<div id="dla_container">

  <h1 class="logo">
    <a tabindex="2" accesskey="1" href="#about">
      <img src="assets/logo.original.jpg" width="960" height="960" alt="דימונה אוהבת חיות"/>
    </a>
    <span class="alt-logo">דימונה אוהבת חיות</span>
  </h1>

  <section id="about">
    <h2>מתנדבים למען בעלי החיים; למען דימונה.</h2>
    <p class="lead"></p>
    <div class="heart"></div>
  </section>

  <section id="mission">
    <h3>המשימה שלנו</h3>
    <ul>
      <li>הצלה ושיפור איכות חייהם של בעלי החיים בעיר דימונה ובסביבתה</li>
      <li>פעילות בתחום החינוך וההסברה להגברות מודעות למצבם וזכויותיהם של בעלי החיים</li>
      <li>הדרכה, הנגשת מידע וייעוץ לקהילה בתחום בעלי חיים.</li>
    </ul>
    <div style="display: none;">
      <button>עזרו לנו</button>
      <a href="http://help.dimonalovesanimals.org">
        עזרו לנו
        <p class="note">עזרו לנו</p>
      </a>
    </div>
  </section>
  <svg class="border-going-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none">
    <polygon points="0 0 100 10 0 10"></polygon>
  </svg>

  <section id="useful" style="display: none;">
    <h2>השימושון</h2>
    <section class="notepaper">
      <figure class="quote">
        <blockquote class="curly-quotes" cite="https://www.youtube.com/watch?v=qYLrc9hy0t0">
          The same wind blows on us all.
          The difference in arrival is not
          the blowing of the wind,
          but the set of the sail.
        </blockquote>
        <figcaption class="quote-by">— Jim Rohn</figcaption>
      </figure>
    </section>
    <button>שימושון</button>
  </section>

  <section id="bye">
    <p>
      דימונה
      <svg class="animated-heart" viewBox="0 0 32 29.6">
        <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
	c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"/>
      </svg>
      חיות
    </p>
    <p>תודה שביקרתם!</p>
  </section>

  <div class="hearts-bg">
    <br><br><br><br><br><br><br><br><br><br><br>
  </div>

  <footer id="dla_footer">
    דימונה אוהבת חיות | עמותת "דימונה אוהבת חיות" הנה עמותה ללא תשלומי שכר וללא מטרת רווח. | <a href="https://drive.google.com/drive/folders/1gsQDjxWA_wLR3DXZDy0w0H-6ReUFyjYm?usp=sharing">מסמכים</a>
  </footer>

</div>
