@import 'reset';

html, body {
  padding: 0;
  margin: 0;
  direction: rtl;
  font-family: 'Arimo', sans-serif;
}

h2 {
  font-size: 4em;
  margin: 40px 0;
}

h3 {
  font-size: 3em;
  margin: 30px 0;
  font-family: 'Heebo', sans-serif;
}

p {
  font-size: 1.3em;
  margin: 20px 0;
  font-family: 'Rubik', sans-serif;

  &.lead {
    font-family: 'Secular One', sans-serif;
  }

  &.mute {
    font-family: 'Suez One', serif;
  }
}

ul {
  margin: 25px 0 35px;
  li {
    padding: 10px;
  }
}

input {
  font-family: 'Alef', sans-serif;
}

legend {
  font-family: 'Bellefair', serif;
}

button {
  font-size: 3em;
  padding: 55px;
  border-radius: 55px;
  font-family: 'Varela Round', sans-serif;
  background-color: antiquewhite;
  color: #FC2E5A;
  border: none;
}

blockquote {
  font-family: 'Assistant', sans-serif;
}

pre {
  font-family: 'Frank Ruhl Libre', serif;
}

footer {
  margin: 40px;
  color: #888;
}
